section {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../background.png");
  background-position: left;
  background-repeat: repeat-y;
}

form > label {
  padding: 12px 12px 0 12px;
  margin-top: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(70, 68, 68);
  border-radius: 4px;
  resize: vertical;
}

div:not(:first-child) > input[name="option"] {
  margin-left: 2em;
}
